<% provide(:title, "交通費管理画面") %>

<div class="">
</div>

<div class="carfare-t">
  <table class="table table-bordered table-condensed">
    <thead>
      <tr  class="table-active">
        <th>日付</th>
        <th>ユーザー名</th>
        <th>出勤場所</th>
        <th>出発地</th>
        <th>到着地</th>
        <th>金額</th>
        <th>宿泊費</th>
        <th>移動距離</th>
        <th>高速料金</th>
        <th>駐車場料金</th>
        <th>承認欄</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
  </table>
</div>