<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="sheet.css">
    <title>請求書</title>
</head>

<body>
    <section class="sheet">
        <div class="row_2">
            <h4 class="text-right">請求書番号    [100]</h4>
            <h4 class="text-right">日付  2021年8月31日</h4>
        </div>
        <div class="row_2">
          <ul>
            <h3 class="text-center">請求書</h3>
          </ul>
        </div>
        <div class="row_3">
            <div class="col_1">
                <ul>
                    <li>
                        <h5 class="customer_name">株式会社エス・マーケティング・デザイン・ジャパン 御中</h5>
                    </li>
                    <li class="text-left">〒150-0001</li>
                    <li class="text-left">東京都渋谷区神宮前6-25-8</li>
                    <li class="text-left">神宮前コーポラス 1408号</li>
                    <li class="text-left">TEL 03-6419-7730</li>
                </ul>
            </div>
            <div class="col_2">
                <ul >
                    <li>
                        <h3>株式会社Ｔｒｕｓｔ Material</h3>
                    </li>
                    <li class="text-left">〒703-8243</li>
                    <li class="text-left">岡山県岡山市中区清水502-202</li>
                    <li class="text-left">代表取締役　木野　誠也</li>
                    <li class="text-left">TEL 080-6133-6111</li>
                </ul>
            </div>
            <div class="clear-element"></div>
        </div>

        <div class="row_4">
            <p>下記のとおりご請求申し上げます。</p>

            <table class="summary">
                <tbody>
                    <tr>
                        <th>合計金額</th>
                        <td>\2,168,640</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row_5">
            <table class="detail">
                <thead>
                    <tr>
                        <th class="item">内容</th>
                        <th class="amount">数量</th>
                        <th class="unit_price">単価</th>
                        <th class="subtotal">金額</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dataline">
                        <td class="text-left">コスモカード　人件費</td>
                        <td></td>
                        <td></td>
                        <td>¥282,656</td>
                    </tr>
                    <tr class="dataline">
                      <td class="text-left">コスモカード　人件費</td>
                      <td></td>
                      <td></td>
                      <td>¥5,500</td>
                  </tr>
                    <tr class="dataline">
                      <td class="text-left">コスモカード　人件費</td>
                      <td></td>
                      <td></td>
                      <td>¥38,790</td>
                  </tr>
                    <tr class="dataline">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="dataline">
                      <td class="text-left">コスモカード　人件費</td>
                      <td></td>
                      <td></td>
                      <td>¥1,972,642</td>
                  </tr>
                    <tr class="dataline">
                      <td class="text-left">コスモカード　人件費</td>
                      <td></td>
                      <td></td>
                      <td>¥366,880</td>
                  </tr>
                    <tr class="dataline">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="dataline">
                      <td class="text-left">コスモカード　人件費</td>
                      <td></td>
                      <td></td>
                      <td>¥1,437,540</td>
                  </tr>
                    <tr class="dataline">
                      <td class="text-left">コスモカード　人件費</td>
                      <td></td>
                      <td></td>
                      <td>¥200690</td>
                  </tr>
                    <tr class="dataline">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="dataline">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="dataline">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="dataline">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="dataline">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td class="space" rowspan="3" colspan="2"> </td>
                        <th> 小計 </th>
                        <td> 2,008,000 </td>
                    </tr>
                    <tr>
                        <th> 消費税 </th>
                        <td> 160,640 </td>
                    </tr>
                    <tr>
                        <th> 合計 </th>
                        <td> 2,168,640 </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <ul>
          <li class="text-left">中国銀行 倉敷北支店</li>
          <li class="text-left">普通 1397719</li>
          <li class="text-left">株式会社Trust Material</li>
          <li class="text-left">代表取締役 木野 誠也</li>
        </ul>
        <p>いつもご利用ありがとうございます。</p>

    </section>
</body>

</html>