 <% @topics.each do |t| %>

        <a href="<%= image_url t.pdf_url %>" target="_blank">
                <div class="post2-2"> 
                    <object data="<%= image_url t.pdf_url %>" type="application/pdf"></object>
                </div>
        </a>
      </div>
    <% end %>
  </div>