<% provide(:title, '出勤中社員') %>
<h1>出勤中社員</h1>

<div>
  <table class="table table-bordered table-condensed user-table">
  <thead>
    <tr>
      <td>名前</td>
      <td>出勤場所</td>
    </tr>
      <% @now_users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.site_name %></td>
      <% end %>
    </tr>
  </table>
</div>