<% flash.each do |msg_type, msg| %>
  <div class="alert alert-<%= msg_type %>" role="alert" id="alert">
    <%
=begin%>
 <a href="#" class="close" data-dismiss="alert">×</a> 
<%
=end%>
    <%= msg %>
  </div>
<% end %>