<div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, onchange: 'previewImage()', class: 'form-control' %>
    <%= f.hidden_field :avatar_cache %>
    <%= image_tag user.avatar.url, class: 'rounded-circle mt-3', id: 'preview', size: '100x100' %>
</div>